@import url("https://fonts.googleapis.com/css2?family=Mali&display=swap");
* {
  font-family: "Mali", cursive;
  margin: 5px;
  padding: 5px;
}
body {
  background-color: #041c32;
  color: #f7f5f2;
}
